* { 
    margin: 0; 
    padding: 0; 
    font-size: 100%; 
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    
}

:root {
    --preto: #000000;
    --roxo: #9353FF;
    --branco: #FFFFFF;
    --cinza: #343A40;

}

.cabecalho { 
    background-color: var(--preto);
    padding: 23px;
    
}

.cabecalho nav {
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.cabecalho nav ul {
    display: flex;

}

.cabecalho nav ul.links {
    gap: 40px;
}

.cabecalho nav ul.busca {
    gap: 1em;
}


.colors {
    color: white;
    list-style-type: none;
    text-decoration: none;
    
}

.busca {
    text-align: center;
    height: 38px;
}

.buscar {
    border: 1px solid var(--branco);
    border-radius: 8px;
    padding: 9px 12px;
    background-color: var(--preto);
    color: var(--branco);
    text-decoration: none;
    text-align: center;
}

.banner_loja {
    width: 100%
}

.categorias {
    display: flex;
    list-style-type: none;
    text-align: center;
    gap: 30px;
    justify-content: center;
}

.categoria_title {
    text-align: center;
    font-size: 32px;
    margin: 32px;
}

.border {
    border: 2px solid var(--preto);
    background-color: var(--preto);
    color: var(--branco);
    border-width: 5px 10px 10px;
}

/* .produtos {
    display: grid; 
    grid-template-columns: 33% 33% 33%;
    list-style-type: none;
    justify-items: center;
} */ 

.produtos {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 30px;
    margin: 10px;
}  

.idk {
    font-size: 13px;
    width: 290px;
}



.box_produto {
    border: 2px solid var(--roxo);
    color: var(--branco);
    background: var(--roxo);
    text-align: center;
    border-width: 5px 10px 5px 10px;
    margin-top: 10px;
    display: inline-block;
   
} 

.titulo_facilidades {
    color: var(--branco);
    text-align: center;
    font-size: 32px;
}

.facilidades {
    background-color: var(--preto);
    margin-top: 86px;
    padding: 40px;
    
}


.facilidades_container {
    color: white;
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 32px;
    padding: 40px;
}

.dados {
    max-width: 85%;
    margin-top: 10px;
}

.remarketing {
    margin: 40px;
    padding: 40px 493px;
}

.border_rmkt {
    border: 2px solid var(--preto);
    padding: 40px;
}

.desc_remarketing {
    font-size: 20px;
    text-align: center;
   
}

.content_remarketing {
   margin: 24px;
   text-align: center;
}

.email {
    border: 1px solid var(--preto);
    background-color: var(--branco);
    padding: 8px;
    color: var(--cinza);
    width: 456px;
    height: 38px;
}

.submit {
    border: 1px solid var(--roxo);
    background-color: var(--roxo);
    border-width: 9px;
    color: var(--branco);
    text-decoration: none;
}

footer {
    background-color: var(--preto);
    padding: 14px;
    color: var(--branco);
    text-align: center;
}












